* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
}

.page1 {
    width: 100%;
    height: 100vh;
    background-color: rgb(68, 148, 164);
    display: flex;
    align-items: center;
    justify-content: center;
}

.page2 {
    width: 100%;
    height: 100vh;
    background-color: rgb(56, 106, 116);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page3 {
    width: 100%;
    height: 100vh;
    background-color: rgb(50, 78, 84);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    height: 300px;
    width: 300px;
    background-color: rgb(207, 21, 58);
}

h1 {
    font-size: 50px;
    background-color: rgb(203, 101, 12);
    padding: 10px;
}

h2 {
    font-size: 50px;
    background-color: rgb(99, 221, 5);
    padding: 10px;
}